<%= form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :winner_id %><br />
    <%= f.number_field :winner_id %>
  </div>
  <div class="field">
    <%= f.label :loser_id %><br />
    <%= f.number_field :loser_id %>
  </div>
  <div class="field">
    <%= f.label :draw %><br />
    <%= f.number_field :draw %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
