<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @move.player_id %>
</p>

<p>
  <b>Symbol:</b>
  <%= @move.symbol %>
</p>

<p>
  <b>Cell chosen:</b>
  <%= @move.cell_chosen %>
</p>


<%= link_to 'Edit', edit_game_move_path(@move.game, @move) %> |
<%= link_to 'Back', moves_path %>
