<h1>Listing games</h1>

<table>
  <tr>
    <th>Player1</th>
    <th>Player2</th>
    <th>Total games</th>
    <th>Name</th>
    <th>First move</th>
    <th>Next player</th>
    <th>Winner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.player1_id %></td>
    <td><%= game.player2_id %></td>
    <td><%= game.total_games %></td>
    <td><%= game.name %></td>
    <td><%= game.first_move %></td>
    <td><%= game.next_player %></td>
    <td><%= game.winner %></td>
    
  </tr>
<% end %>
</table>

<br />
<table>
    <tr>
        <td><div id="a1"><%=button_to '', action= 'make_move'%></div></td>
        <td><div id="a2"><%=button_to '', action= 'make_move'%></div></td>
        <td><div id="a3"><%=button_to '', action= 'make_move'%></div></td>
    </tr>
    <tr>
        <td><div id="b1"><%=button_to '', action= 'make_move'%></div></td>
        <td><div id="b2"><%=button_to '', action= 'make_move'%></div></td>
        <td><div id="b3"><%=button_to '', action= 'make_move'%></div></td>
    </tr>
    <tr>
        <td><div id="c1"><%=button_to '', action= 'make_move'%></div></td>
        <td><div id="c2"><%=button_to '', action= 'make_move'%></div></td>
        <td><div id="c3"><%=button_to '', action= 'make_move'%></div></td>
    </tr>

</table>



<br />

<%= link_to 'New Game', new_game_path %>
