<h1>Listing games</h1>

<table>
  <tr>
    <th>Player1</th>
    <th>Player2</th>
    <th>Total games</th>
    <th>Name</th>
    <th>First move</th>
    <th>Next player</th>
    <th>Winner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.player1_id %></td>
    <td><%= game.player2_id %></td>
    <td><%= game.total_games %></td>
    <td><%= game.name %></td>
    <td><%= game.first_move %></td>
    <td><%= game.next_player %></td>
    <td><%= game.winner %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
