<h1>Listing games</h1>

<table>
  <tr>
    <th>Player1</th>
    <th>Player2</th>
    <th>Name</th>
    <th>Winner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= User.find(game.player1_id).first_name %></td>
    <td><%= User.find(game.player2_id).first_name %></td>
    <td><%= game.name %></td>
    <% if game.score %>
        <td><%= (User.find(game.score.winner_id).first_name if game.score.winner_id)  || 'no winner' %></td>
    <% else%>
        <td>unfinished</td>
    <% end %>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
  </tr>
<% end %>
</table>

<br />




<br />

<%= link_to 'New Game', new_game_path %>
