<p id="notice"><%= notice %></p>

<p>
  <b>Player1:</b>
  <%= User.find(@game.player1_id).first_name %>
</p>

<p>
  <b>Player2:</b>
  <%= User.find(@game.player2_id).first_name %>
</p>

<!-- <p>
  <b>Total games:</b>
  <%#= @game.total_games %>
</p>

<p>
  <b>Name:</b>
  <%#= @game.name %>
</p>

<p>
  <b>First move:</b>
  <%#= @game.first_move %>
</p>

<p>
  <b>Next player:</b>
  <%#= @game.next_player %>
</p>

<p>
  <b>Winner:</b>
  <%#= @game.winner %>
</p> -->
 

<div class="board">
    <% @board.each_with_index do |square, index| %>
      <% if square == 'X' %>
        <%= image_tag 'cross.jpg', class: 'square-link' %>
      <% elsif square == '0' %>
        <%= image_tag 'nought.jpg', class: 'square-link'  %>
      <% else %>
        <% if @game.can_move?(current_user) %>
          <%= link_to '', new_game_move_path(@game, cell_chosen: index), class: 'square-link' %>
        <% else %>
          <%= image_tag 'black.jpeg', class: 'square-link'%>
        <% end %>
      <% end %>
    <% end %>
</div>
<br>
<%= link_to 'New Game', new_game_path, class: "newgamelink" %>



    

  


<%#= link_to 'Edit', edit_game_path(@game) %> 
<%#= link_to 'Back', games_path %>
