<p id="notice"><%= notice %></p>

<p>
  <b>Player1:</b>
  <%= @game.player1_id %>
</p>

<p>
  <b>Player2:</b>
  <%= @game.player2_id %>
</p>

<!-- <p>
  <b>Total games:</b>
  <%#= @game.total_games %>
</p>

<p>
  <b>Name:</b>
  <%#= @game.name %>
</p>

<p>
  <b>First move:</b>
  <%#= @game.first_move %>
</p>

<p>
  <b>Next player:</b>
  <%#= @game.next_player %>
</p>

<p>
  <b>Winner:</b>
  <%#= @game.winner %>
</p> -->



<!-- I would love to make a hidden_field within the table below so that that there is an associated value with each cell. I can't work out the syntax to to do that. I can give it a value by inputting an integer where my empty string is, but I don't want that to appear on the page. Then you obviously need to send that value to an action inside the controller. -->  

<div class="board">
  <% @board.each_with_index do |square, index| %>
    <% if square == 'X' %>
      <%= image_tag 'cross.jpg', class: 'square-link' %>
    <% elsif square == '0' %>
      <%= image_tag 'nought.jpg', class: 'square-link'  %>
    <% else %>
      <%= link_to '', new_game_move_path(@game, cell_chosen: index), class: 'square-link' %>
    <% end %>
  <% end %>
</div>


<%#= link_to 'Edit', edit_game_path(@game) %> 
<%#= link_to 'Back', games_path %>
